
<%if @article.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% @article.errors.full_messages_for(:description).each do |message|%>
      <strong><%= message %></strong>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

